<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignUp</title>
</head>
<body>
<div class="box">
   <h1>顧客一覧</h1>
        <table class="table table-striped">
        <tr th:each="customer : ${customerlist}">
		 <td th:text="${customer.id}"></td>
	     <td th:text="${customer.name}"></td>
	     <td th:text="${customer.postal_code}"></td>
	     <td th:text="${prefectures[customer.prefectures-1].prefectures}"></td>
	     <td th:text="${customer.street_address}"></td>
	     <td th:text="${customer.phone_number}"></td>
	     <td th:text="${customer.phone_number_sub}"></td>
	     <td th:text="${industry[customer.industry-1].industry}"></td>



        </tr>
        </table>

</div>
</body>
</html>