<!-- 条件別リスト一覧画面 -->
<!DOCTYPE html>
  <html lang="ja">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>条件別リスト一覧画面</title>

      <!-- 追加で作成したBootStrap以外のCSSの読み込み -->
      <link href="css/ListBetu.css" rel="stylesheet">
      <!-- BootstrapのwebからとってきたCSS only -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
      <!-- jQuery読み込み -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- BootstrapのWebから取ってきたJavaScript Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

    </head>

    <body>

      <!--↓共通のheader 右上にメニューがあり、開くとユーザー名とログアウトを表示-->
      <div class="header">
        <a href="/"><img th:src="@{/images/Y&I.png}" alt="ロゴ" class="top-title"></a>
            <ul class="ddmenu">
                <li><a href="#">≡</a>
                    <ul>
                        <li><a href="#" ><span sec:authentication="principal.username"></span></a></li>
                        <li><a href="/signup">ユーザー登録</a></li>
                        <li><a href="/createclient">顧客登録</a></li>
                       <li><form th:action="@{/logout}" name="logout" method="POST"><a href="javascript:logout.submit()">ログアウト</a></form></li>

                    </ul>
                 </li>
                </ul>
        <!--↓ここまで共通のheader-->
      </div>

      <!--↓リスト一覧と右側固定画面の親クラス-->
      <div class = "main clearfix">

        <!--↓右側固定画面以外のmain画面(見出し・戻るボタン・リスト一覧)-->
        <div class="main-left">
          <br>
          <!--見出しと戻るボタン-->
          <div class ="title">
            <!--見出し-->
            <h1 class ="ccc"><span class="mgl-30"></span>条件別リスト一覧</h1>
            <!--戻るボタン(bootstrapを使用)-->
            <ol class="btn-group">
              <input type="button" class="btn btn-primary" id="button-back" onclick="location.href='/'" value="戻る">
            </ol>
            <!--↓ここまで見出しと戻るボタン-->
          </div>
         <br>
         <br>

          <!--↓リスト一覧テーブル(bootstrapを使用)-->
          <div class="container">
            <div class="table-responsive">
              <!--↓リスト一覧テーブルをストライプ模様にする-->
              <table class="table table-striped">
                <!--↓テーブルの項目-->
                <thead>
                  <tr>
                  <th></th>
                    <th><div class="tablelists" style="text-align:center;">リストID</div></th>

                    <th ><div class="tablelist">リスト名</div></th>
                    <th></th>

                  </tr>
                  <!--↓ここまでテーブルの項目-->
                </thead>
                <!--↓テーブル内の情報一覧-->
                <tbody>
                  <tr th:each="statuse : ${statuses}">
                    <!--↓リスト名をボタンにしてある。一旦GoogleのURLに飛ぶようになっている-->
                    <!--↓このテーブル内の値は仮のもの。DBと紐づける予定-->
                    <td></td>
                    <td align="center" th:text="${statuse.id}" ></td>


                    <td ><a th:href="@{/customers(id=${statuse.id})}" class="btn btn-primary" th:text="${statuse.statuses}" ></a></td>
					<td></td>
                  </tr>

                  <!--↓ここまでテーブル内の情報一覧-->
                </tbody>
              </table>
              <!--↓ここまでclass="table-responsive"-->
            </div>

            <!--↓ここまでリスト一覧テーブル(bootstrapを使用)-->
          </div>
          <br>
          <br>
          <br>
          <!--↓ここまで右側固定画面以外のmain画面(見出し・戻るボタン・リスト一覧)-->
        </div>

        <!--↓共通の右側固定画面-->
          <div class="main-right">
            <p id="fixed" class="mikomi">
                見込み一覧
                </p>

                <th:block th:each="client : ${client}">
				<a th:href="@{/edit(id=${client.id})}" class="ssss">
                <div class="box1" >
                    <span th:text="'会社名：' + ${client.name}">

                    </span>
                    <p>
                    </p>
                    <span>架電予定時間</span><br>
                    <span th:text="${#dates.format(client.next_call_day,'yyyy-MM-dd  HH:mm')}">
                    </span>
                </div>
                </a>
                <p>
                </p>
                </th:block>
            <!--↓ここまで共通の右側固定画面-->
          </div>

        <!--↓ここまでリスト一覧と右側固定画面の親クラス-->
      </div>

    </body>
  </html>
