<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List</title>
</head>
<body>
<div class="box">
   <h1>リスト一覧</h1>
        <table class="table table-striped">
        <tr th:each="statuse : ${statuses}">
        <td th:text="${statuse.id}"></td>
		 <td><a th:href="@{/customers(id=${statuse.id})}" class="btn btn-primary" th:text="${statuse.statuses}"></a></td>
        </tr>
        </table>

</div>
</body>
