<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sample App</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body>
<!-- <div class="box">
   <h1>オリジナルログインフォームです</h1>
   <form role="form" id="login" th:action="@{/login}" method="post">
        <div th:if="${iserror}" style="color:red;">
            <p>ログインできませんでした。やりなおしてください。</p>
        </div>
        <p>ユーザID</p>
        <input type="text" id="username" name="username" autofocus="autofocus" />
        <p>パスワード</p>
        <input type="password" id="password" name="password" /><br/>
        <button type="submit">ログイン</button>
   </form> -->
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
   <div class="container">
        <div class="card card-container">

            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" role="form" id="login" th:action="@{/login}" method="post">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" id="username" name="username" autofocus="autofocus" class="form-control" placeholder="User" >
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" >
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form>
        </div>
    </div>

</body>
</html>