<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
OK
<body>
  <h>こんにちは、<span sec:authentication="principal.username"></span>さん</h>
  <h>idは、<span sec:authentication="principal.id"></span> です</h>
  <h>パスワードは、<span sec:authentication="principal.password"></span> です</h>
</body>
<form th:action="@{/logout}" method="post">
<button type="submit">ログアウト</button>
<a href="/signup">新規登録</a>
<a href="/createclient">顧客登録</a>
<a href="/customerlist">顧客一覧</a>

</form>
</body>
</html>