
  <div class="main">
        <div class="header">
            <div class="top-title">＠顧客管理システム</div>
            <ul class="ddmenu">
                <li><a href="#">≡</a>
                    <ul>
                        <li><a href="#" ><span sec:authentication="principal.username"></span></a></li>
                        <li><a href="#">user画面</a></li>
                        <li><a href="/createclient">顧客登録</a></li>
                       <li><form th:action="@{/logout}" name="logout" method="POST"><a href="javascript:logout.submit()">ログアウト</a></form></li>

                    </ul>
                </li>
            </ul>
        </div>

        <div class="form-main">
            <form class="row g-3" th:action="@{/postclient}" th:method="post">
                <div class="title">
                    <h2 class="form__headline">顧客新規登録画面</h2>
                    <ol class="btn-group">
                        <input type="button" class="btn btn-primary" id="button-back" onclick="location.href='/'" value="戻る">
                        <button type="submit" class="btn btn-primary" id="button-create">登録</button>
                    </ol>
                </div>
                <div class="col-9 mx-auto">
                    <div class="control-group">
                        <label for="inputAddress" class="form-label col-2">顧客名</label>
                        <input type="text" class="form-control" name="name" placeholder="顧客名を入力">
                    </div>
                </div>
                <div class="col-9 mx-auto">
                    <div class="control-group">
                        <label for="inputAddress" class="form-label col-2">郵便番号</label>
                        <input type="text" class="form-control" name="postal_code" placeholder="000-0000">
                    </div>
                </div>
                <div class="col-9 mx-auto">
                    <div class="control-group">
                        <label for="inputState" class="form-label col-2 name-1">都道府県</label>
                        <select  class="form-select" name="prefectures">
                        	<option hidden>選択してください</option>
                            <option  th:each="prefectures : ${prefectures}"
								th:value="${prefectures.id}"
								th:text="${prefectures.prefectures}">選択してください</option>
                        </select>
                    </div>
                </div>
                <div class="col-9 mx-auto">
                    <div class="control-group">
                        <label for="inputAddress" class="form-label col-2">住所</label>
                        <input type="text" class="form-control" name="street_address">
                    </div>
                </div>
                <div class="col-9 mx-auto">
                    <div class="control-group">
                        <label for="inputAddress" class="form-label col-2">電話番号１</label>
                        <input type="text" class="form-control" name="phone_number" placeholder="(例) 090-0000-0000">
                    </div>
                </div>
                <div class="col-9 mx-auto">
                    <div class="control-group">
                        <label for="inputAddress" class="form-label col-2">電話番号２</label>
                        <input type="text" class="form-control" name="phone_number_sub" placeholder="(例) 090-0000-0000">
                    </div>
                </div>
                <div class="col-9 mx-auto">
                    <div class="control-group">
                        <label for="inputState" class="form-label col-2 name-1">業種</label>
                        <select class="form-select" neme="industry">
                           <option hidden value="null">選択してください</option>
                           <option th:each="industry : ${industry}"
								th:value="${industry.id}" th:text="${industry.industry}">選択してください</option>
                        </select>
                    </div>
                </div>
            </form>
            <div class="main-right">
                <p id="fixed">
                </p>
                <div class="box1">
                    <p>コール日</p>
                    <p>会社名</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>