<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>顧客管理システム</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <div class="top-title">＠顧客管理システム</div>
            <ul class="ddmenu">
                <li><a href="#">≡</a>
                    <ul>
                        <li><a href="#">ユーザ名</a></li>
                       <li><a href="#">ログアウト</a></li>

                    </ul>
                 </li>
                </ul>
        </div>
        <div class="main clearfix">
            <div class="main-right">

                <p id="fixed">
                </p>
                <div class="box1">
                    <p>コール日</p>
                    <p>会社名</p>
                </div>
            </div>
            <div class="manu">業務メニュー</div>
            <div class="main-left">
                <button class="select clearfix">
                    <img src="./top-image/select.png" alt="条件別リストアイコン">
                    <div class="select-box">
                        <h2 class="en-select">Select</h2>
                        <h1 class="select-text">条件検索</h1>

                    </div>
                </button>
                <button class="category clearfix" >
                    <img src="./top-image/category.png" alt="共有リストアイコン">
                    <div class="category-box">
                        <h2 class="en-category">Category</h2>
                        <h1 class="category-text">条件別リスト</h1>
                    </div>
                </button>
            </div>

        </div>

    </div>



</body>

</html>