/* ヘッダーの基本装飾(仮) */
header {
  background: #fff;
  color: blue;
  padding: 0.1rem;
  height: 80px;
}

/*mainの背景全体を薄いグレー色に*/
main{
  background: #eeeeee;
}

/*見出しの装飾*/
h1{
  color:#fff;
  background-color: #75A9FF	;
  width: 350px;
  margin:10px;
}

/*見出しの左側に30pxの余白*/
.mgl-30{
  margin-left : 30px;
}


/*戻るボタンを右へ配置*/
.btn0 {
  text-align: right;
}
