/*リスト別一覧画面のCSS*/

/*↓共通headerのCSS*/
.header {
  height:43px;
  background-color:gainsboro;
}
.top-title{
  color:blue;
  font-size:23px;
  float:left;
}
ul.ddmenu {
  margin: 0px;               /* メニューバー外側の余白(ゼロ) */
  padding: 0px 0px 0px 15px; /* メニューバー内側の余白(左に15px) */
  float: right;
}
/* -------------------------- */
/* ▼共通header内のメインメニュー項目の装飾 */
/* -------------------------- */
ul.ddmenu li {
  width: 125px;           /* メニュー項目の横幅(125px) */
  display: inline-block;  /* ★1:横並びに配置する */
  list-style-type: none;  /* ★2:リストの先頭記号を消す */
  position: relative;     /* ★3:サブメニュー表示の基準位置にする */
}
ul.ddmenu a {
  background-color: silver; /* メニュー項目の背景色(濃い赤色) */
  color: white;              /* メニュー項目の文字色(白色) */
  line-height: 40px;         /* メニュー項目のリンクの高さ(40px) */
  text-align: center;        /* メインメニューの文字列の配置(中央寄せ) */
  text-decoration: none;     /* メニュー項目の装飾(下線を消す) */
  font-weight: bold;         /* 太字にする */
  display: block;            /* ★4:項目内全域をリンク可能にする */
}
ul.ddmenu a:hover {
  background-color: #ffdddd; /* メニュー項目にマウスが載ったときの背景色(淡いピンク) */
  color: #dd0000;            /* メニュー項目にマウスが載ったときの文字色(濃い赤色) */
}
/* ▼共通header内のサブメニューは、とりあえず非表示にしておく */
ul.ddmenu ul {
  display: none;         /* ★5:非表示にする */
}
/* -------------------- */
/* ▼共通header内のサブメニューの装飾 */
/* -------------------- */
ul.ddmenu ul {
  display: none;       /* ★1:標準では非表示にする */
  margin: 0px;         /* ★2:サブメニュー外側の余白(ゼロ) */
  padding: 0px;        /* ★3:サブメニュー内側の余白(ゼロ) */
  position: absolute;  /* ★4:絶対配置にする */
}
/* ---------------------------------- */
/* ▼共通header内のサブメニューがある場合に開く処理 */   /* ※サブメニューが1階層しか存在しない場合の記述 */
/* ---------------------------------- */
ul.ddmenu li:hover ul {
  display: block;      /* ★5:マウスポインタが載っている項目の内部にあるリストを表示する */
}
/* ------------------------ */
/* ▼共通header内のサブメニュー項目の装飾 */
/* ------------------------ */
ul.ddmenu ul li {   /* ※A */
  width: 135px;               /* サブメニュー1項目の横幅(135px) */
  border-top: 1px solid pink; /* 項目上側の枠線(ピンク色で1pxの実線) */
}
ul.ddmenu ul li a {   /* ※B */
  line-height: 35px;   /* サブメニュー1項目の高さ(35px) */
  text-align: left;    /* 文字列の配置(左寄せ) */
  padding-left: 5px;   /* 文字列前方の余白(5px) */
  font-weight: normal; /* 太字にはしない */
}
ul.ddmenu ul li a:hover {   /* ※C */
  background-color: #ffff80; /* サブメニュー項目にマウスが載ったときの背景色(淡い黄色) */
  color: #005500;            /* サブメニュー項目にマウスが載ったときの文字色(濃い緑色) */
}


/*↓リスト一覧と右側固定画面の親クラス*/
.main {
  height:730px;
  background-color:rgb(202, 209, 200,0.25);
}


/*↓見出しと戻るボタン*/
.title{
  display:flex;
}

/*↓見出しの左側に30pxの余白*/
.mgl-30{
  margin-left : 30px;
}

.btn-group{
  margin-left:auto;
}

.clearfix::after {
  clear: both;
  content: '';
  display: block;
}

.main-left{
  float:left;
  height:730px;
  width:70%;
}

.main-right{
  float:right;
  height:730px;
  width:26%;
  background-color: white;
}

.box1{
  padding: 0.5em 1em;
  margin: 0em 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);}

.box1 p {
          margin: 0;
          padding: 0;
      }

